* {
    padding:0px;
    margin:0px;
}

body{
    background-color: #2B2922;
}

.main{
    margin:50px 100px;
}

.header{
    position: relative;
    height: 80px;
    color:#F0EFEE;
}

.logo{
    position: absolute;
    top:0px;
    bottom: 0px;
    left:0px;
    margin:auto 0px;
    height: fit-content;
}

.logo img{
    width: 120px;
}

.nav{
    position: absolute;
    top:0px;
    bottom: 0px;
    right:0px;
    margin:auto 0px;
    height: fit-content;
}

.nav-item{
    display: inline;
    margin:0px 15px;
}

.content{
    padding:20px 0px;
}

.quote{
    display: inline-block;
    font-size: 30px;
    width: 550px;
    color:#F0EFEE;
    font-weight: bold;
}

.para{
    margin-left: 50px;
    display: inline-block;
    width: 450px;
    color:#F0EFEE;
    font-size: 20px;
}

.justice-bg{
    position: relative;
    bottom: 0px;
    left:0px;
    width: 100%;
}